#pane_top
{
 -fx-background-color:#4d5463;
}

#lable_title
{
-fx-text-fill:white;
}

#anchorpane_center,#anchorpane_left,#anchorpane_right
{
-fx-border-style:dotted;
}

#btn_save
{
-fx-background-color:#0b824e;
}
#btn_add,#btn_save,#btn_update,#btn_delete{

	-fx-opacity: 0.9;
	-fx-text-fill:white;
}
#btn_add,#btn_save,#btn_update,#btn_delete :hover{
	-fx-opacity:1;
}